a.out
*.swp
*.txt
ChainingAlgorithm.pdf
/MagistroStudijos/ObjectOrientedTechnologies/OOT1/nbproject/private/
/MagistroStudijos/ObjectOrientedTechnologies/OOT1/build/
/MagistroStudijos/ObjectOrientedTechnologies/OOT1/dist/
/MagistroStudijos/ObjectOrientedTechnologies/OOT2/target/
/MagistroStudijos/ObjectOrientedTechnologies/OOT2_test/target/
/MagistroStudijos/ObjectOrientedTechnologies/OOT2_Juice/target/
/MagistroStudijos/ObjectOrientedTechnologies/OOT3/nbproject/private/
/MagistroStudijos/ObjectOrientedTechnologies/OOT3/build/
/MagistroStudijos/ObjectOrientedTechnologies/OOT3/dist/
/MagistroStudijos/DuomenuTyrimas/3-uzd/mail_data/

